* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #1F2937;
}

/* header, 
.content, 
.testimonial, 
.cta, 
footer {
    padding-left: 16%;
    padding-right: 16%;
} */

header, 
footer {
    background-color: #1F2937;
    color: #f9faf8;
}

button {
    padding: 8px 24px;
    color: #fff;
    background-color: #3382f6;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Navigation section */
header {
    padding: 0 16%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

nav a {
    text-decoration: none;
    color: #E5E7EB;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.logo-link {
    font-size: 24px;
    font-weight: bold;
}

.right-links {
    display: flex;
    list-style: none;
    font-size: 18px;
    padding: 0;
    gap: 24px;
}

/* Hero section */
.hero {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 64px;
    padding: 128px 0;
}

.hero div {
    flex: 1;
}

.hero-text h1 {
    font-weight: 900;
    font-size: 48px;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
}

.hero-image {
    min-width: 200px;
}

/* Content section */
.content {
    padding: 64px 16%;
    text-align: center;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 64px;
}

.information {
    display: flex;
    gap: 64px;
}

.info-block img {
    border-radius: 8px;
    margin-bottom: 8px;
}

/* Testimonial section */
.testimonial {
    padding: 128px 16%;
}


/* CTA section */
.cta {
    padding: 128px 16%;
}

/* Footer section */
footer {
    padding: 32px 16%;
}